body{
  background: url("http://i.imgur.com/kDvBed7.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 12px;
}
h1{
  margin: 0;
}
img{
    margin: 10px 15px 0px 0px;
    border: 5px solid rgba(60,30,10,.8);
    border-radius: 100px 100px 15px 15px;
    width: 240px;
    position: relative;
    float: right;
}
input{
    border:0;
    padding:10px;
    font-size:18px;
  }
  div{
    background-color: rgba(200,200,200,.5);
    width: 600px;
    border-radius: 6px;
    border: solid white 1px;
    margin: 0;
    top: 0;
  }
  /*input{
    margin: 0 auto;
    background-color: rgba(40,10,10,.8);
    width: 300px;
  }*/
  p{
    margin: 3px;
    padding: auto;
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,.7);
  }
  footer {
    position : absolute;
    bottom : 5px;
    height : 30px;
    background-color: rgba(255,255,255,.6);
    border-radius: 6px;
    border: double white 1px;
  }
